
<div class="form-container">
    <h1>contact US</h1>
    <form [formGroup]= "contactForm" (ngSubmit)="onSaveForm()">
        <input type="text" formControlName="name" placeholder="your name">
            <div class="alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
                <div class="container-error-message" *ngIf="name.errors.required">
                    Name is required 
                </div>
                <!-- ngIf es utilizado para poder dar los parametro a name como los demas como email y message  como tambien los argumetos echos en contactForm CreateFormGroup -->
                <div class="container-error-message" *ngIf="name.errors.minlength">
                    the name must have a minimum of tree characters
                </div>
                
            </div> 

        <input type="email" formControlName="email" placeholder="your email">

        <div class="alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
            <div class="container-error-message" *ngIf="email.errors.required">
                Email is required 
            </div>

            <div class="container-error-message" *ngIf="email.errors.minlength">
                the Email must have a minimum of tree characters
            </div>
            
            <div class="container-error-message" *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.pattern">
                the Email not is value
            </div>

        </div> 
        <textarea formControlName="message" placeholder="type your message"></textarea>


        <div class="alert-danger" *ngIf="message.invalid && (message.dirty || message.touched)">
            <div class="container-error-message" *ngIf="message.errors.required">
                Message is required 
            </div>

            <div class="container-error-message"  *ngIf="message.errors.minlength">
              The message must have a minimum of tree characters
            </div>
            
        </div>

        <button type="submit" class="btn-send" [disabled]= !contactForm.valid>Send</button>

            <!-- ngIf en button  con  [disabled] desavilitada si el formulario no es valido -->
    </form>
</div>
